<h3>Today's menu eat it or starve:</h3>

<% if user_signed_in? %>
  <% if(@matches.size > 0) %>
    <table class="table table-hover table-striped table-bordered">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th class="hidden-phone">Restaurant</th>
      </tr>
      <% @matches.each do |lunch| %>
      <tr>
        <td><a href="<%= lunch.link %>"><%= lunch.name %></a><div class="visible-phone"><i><%= lunch.restaurant %></i></div>
        <td><%= number_to_currency(lunch.price, :separator => ",", :delimiter => "", :format => "%n") %></td>
        <td class="hidden-phone"><a href="<%= lunch.link %>"><%= lunch.restaurant %></a></td>
      </tr>
      <% end %>
    </table>
  <% else %>
    <h4>How about pizza today?</h4>
    <br />
  <% end %>
  <h3>Other choises:</h3>
  <table class="table table-hover table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th class="hidden-phone">Restaurant</th>
    </tr>
  <% @others.each do |lunch| %>
    <tr>
      <td><a href="<%= lunch.link %>"><%= lunch.name %></a><div class="visible-phone"><i><%= lunch.restaurant %></i></div>
      <td><%= number_to_currency(lunch.price, :separator => ",", :delimiter => "", :format => "%n") %></td>
      <td class="hidden-phone"><a href="<%= lunch.link %>"><%= lunch.restaurant %></a></td>
    </tr>
  <% end %>
  </table>
<% else %>
  <h3>Today's menu:</h3>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th class="hidden-phone">Restaurant</th>
    </tr>
  <% @lunches.each do |lunch| %>
    <tr>
      <td><a href="<%= lunch.link %>"><%= lunch.name %></a><div class="visible-phone"><i><%= lunch.restaurant %></i></div>
      </td>
      <td><%= number_to_currency(lunch.price, :separator => ",", :delimiter => "", :format => "%n") %></td>
      <td class="hidden-phone"><a href="<%= lunch.link %>"><%= lunch.restaurant %></a></td>
    </tr>
  <% end %>
  </table>
<% end %>
<br />
